@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Zalando+Sans+Expanded:ital,wght@0,200..900;1,200..900&display=swap');

:root {
    --cor00: #ffffff;
    --cor01: #F1E8E9;
    --cor02: #87848D;
    --cor03: #E5AD94;
    --cor04: #3C3C46;
    --cor05: #2D2319;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor01);
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-image: linear-gradient(to bottom, var(--cor04), var(--cor02));
    font-family: "Zalando Sans Expanded", sans-serif;
    color: var(--cor00);
    height: 100px;
    text-align: center;
}

header h1 {
    padding: 10px;    
}

nav {
    background-color: var(--cor02);
}

nav > a {
    font-family: "Zalando Sans Expanded", sans-serif;
    padding-right: 20px;
    padding-left: 10px;
    color: var(--cor00);
    text-decoration: none;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 5px;
    border-radius: 3px;
}

nav > a:hover {
    background-color: var(--cor01);
    color: var(--cor05);
    transition-duration: 0.3s;

}

nav > a > img {
    padding-right: 5px;
}

main{
    background-color: var(--cor00);
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
}

main h2 {
    margin-left: 10px;
}

main p {
    margin: 10px;
}

